/* TABLE OF CONTENTS
----------------------------------------
 # fonts
 # global
 # app
 # helpers
--------------------------------------*/

/* the fonts
-------------*/

@font-face {
  font-family: 'TitilliumWeb-Thin';
  src: url('../assets/fonts/TitilliumWeb-Thin.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/TitilliumWeb-Thin.woff') format('woff'), url('../assets/fonts/TitilliumWeb-Thin.ttf')  format('truetype'), url('../assets/fonts/TitilliumWeb-Thin.svg#TitilliumWeb-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb-Light';
  src: url('../assets/fonts/TitilliumWeb-Light.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/TitilliumWeb-Light.woff') format('woff'), url('../assets/fonts/TitilliumWeb-Light.ttf')  format('truetype'), url('../assets/fonts/TitilliumWeb-Light.svg#TitilliumWeb-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb-Bold';
  src: url('../assets/fonts/TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),  url('../assets/fonts/TitilliumWeb-Bold.woff') format('woff'), url('../assets/fonts/TitilliumWeb-Bold.ttf')  format('truetype'), url('../assets/fonts/TitilliumWeb-Bold.svg#TitilliumWeb-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* global
----------*/

body {
	overflow: hidden;
	background-color: #302f36;
	color: #0098b0;
	font-family: 'TitilliumWeb-Light';
	font-size: 1rem;
}

h1 {font-family: 'TitilliumWeb-Bold';font-size: 1.875rem}

h2 {font-family: 'TitilliumWeb-Light';font-size: 1.625rem}

h3 {color: #0098b0;font-family: 'TitilliumWeb-Light';font-size: 1.25rem}

h4 {color: #04e0e2;font-family: 'TitilliumWeb-Bold';font-size: 1.125rem}

h5 {color: #04e0e2;font-family: 'TitilliumWeb-Bold';font-size: 1.0625rem}

#intro button, #email button {
	padding: .75rem 2.5rem;
	font-family: 'TitilliumWeb-Light';
	font-size: 1.375rem;
	text-transform: uppercase;
	z-index: 0;
}

#intro button::after, #email button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  border-radius: 3px;
  box-shadow: 0px 4px 4px -3px rgba(48, 47, 54, 0.8);
  content: '';
  transition: all 300ms cubic-bezier(.4,.25,.3,1.5);
  z-index: -1;
}

#intro button:active::after, #email button:active::after {
  -webkit-transform: translate(-50%,-50%) scale(.85);
          transform: translate(-50%,-50%) scale(.85);
  box-shadow: none;
  transition: none;
}

#intro button, #email button {
	color: #fff;
}

#intro button::after, #email button::after {
  background-color: #04e0e2
}

/* the app
-----------*/

#app {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-perspective: 100vh;
	        perspective: 100vh;
}

/* the pull space
------------------*/

#pull {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	transition: all 300ms cubic-bezier(.4,.25,.3,1);
}

/* the box
-----------*/

#box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	transition: all 1100ms cubic-bezier(.4,.25,.3,1) 150ms;
}

/* the spin
------------*/

#app[data-view='intro'] #box {
  -webkit-transform: translateZ(-50vw) rotateY(0deg);
          transform: translateZ(-50vw) rotateY(0deg)
}

#app[data-view='demo'] #box {
  -webkit-transform: translateZ(-50vw) rotateY(-90deg);
          transform: translateZ(-50vw) rotateY(-90deg)
}

#app[data-view='email'] #box {
  -webkit-transform: translateZ(-50vw) rotateY(-180deg);
          transform: translateZ(-50vw) rotateY(-180deg)
}

#app[data-view='form'] #box {
  -webkit-transform: translateZ(-50vw) rotateY(-270deg);
          transform: translateZ(-50vw) rotateY(-270deg)
}

/* the sides
-------------*/

section {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	width: 100%;
	height: 100%;
	padding: 0 15px;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
}

/* front */

section#intro {
  -webkit-transform: translateZ(50vw) rotateY(0deg);
          transform: translateZ(50vw) rotateY(0deg)
}

/* right */

section#demo {
  -webkit-transform: translateX(50vw) rotateY(90deg);
          transform: translateX(50vw) rotateY(90deg)
}

/* back */

section#email {
  -webkit-transform: translateZ(-50vw) rotateY(180deg);
          transform: translateZ(-50vw) rotateY(180deg)
}

/* left */

section#form {
  -webkit-transform:  translateX(-50vw) rotateY(270deg);
          transform:  translateX(-50vw) rotateY(270deg)
}

/* intro
-------------*/

#intro {
	background-color: #fff;
	color: #0098b0;
}

#intro header, #intro article {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 650ms cubic-bezier(.4,.25,.3,1);
}

#intro header[data-state='done'] {
  -webkit-transform: scale(.5);
          transform: scale(.5);
  opacity: 0;
}

#intro article {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
  pointer-events: none;
}

#intro article[data-state='visible'] {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  pointer-events: auto;
  transition-delay: 600ms;
}

#intro svg {
  fill: #04e0e2;
  width: 200px;
}

#intro p {
  padding: 0 4vw;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
  transition: all 450ms cubic-bezier(.4,.25,.3,1);
}

#intro p:first-of-type, #intro p[data-state='visible'] {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

#intro p[data-state='done'] {
  -webkit-transform: scale(.8);
          transform: scale(.8);
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: 1;
}

#intro p em {
  font-family: 'TitilliumWeb-Bold'
}

#intro h2 {
  text-transform: uppercase
}

/* email
-------------*/

#email {
	background-color: #fff;
	color: #0098b0;
}

#email fieldset {
  display: inline-block;
  overflow: hidden;
  border: 1px solid #04e0e2;
  border-radius: 3px;
  box-shadow: 0px 4px 4px -3px rgba(48, 47, 54, 0.3);
  z-index: 0;
}

#email fieldset input {
  display: block;
  width: 290px;
  height: 35px;
  margin-top: 5px;
  padding: 0 1em;
  background-color: #fff;
  color: #0098b0;
  font-family: 'TitilliumWeb-Light';
  font-size: 1.25rem;
  text-align: center;
  transition: all 250ms cubic-bezier(.4,.25,.3,1) 50ms;
  z-index: 1;
}

#email fieldset input +label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: #04e0e2;
  font-family: 'TitilliumWeb-Light';
  font-size: 1.375rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  white-space: nowrap;
  transition: all 250ms cubic-bezier(.4,.25,.3,1) 50ms;
  z-index: 3;
}

#email fieldset input:focus, #email fieldset input:valid {
  margin-top: 25px;
}

#email fieldset input:focus +label, #email fieldset input:valid +label {
  background-color: #04e0e2;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.5625rem;
}

#email #email-error {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: -15vh 0;
  color: #ff5871;
  font-family: 'TitilliumWeb-Bold';
  font-size: 1.25rem;
  opacity: 0;
  transition: all 250ms cubic-bezier(.4,.25,.3,1);
}

#email #email-error[data-state='visible'] {
  opacity: 1;
}

/* demo/form
-------------*/

#demo hgroup, #form hgroup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px;
  padding: 10px 0 10px 15px;
  background-color: #fff;
}

#demo hgroup h4, #demo hgroup h5, #form hgroup h4, #form hgroup h5 {
  color: #0098b0;
  text-align: left;
}

#demo hgroup span, #demo hgroup output, #form hgroup span, #form hgroup output {
  display: inline;
  color: #04e0e2;
  font-family: 'TitilliumWeb-Light';
  font-size: 1.375rem;
}

#demo hgroup em, #form hgroup em {
  color: #04e0e2;
  font-family: 'TitilliumWeb-Light';
  font-size: 1.2em
}

#demo hgroup svg, #form hgroup svg {
  fill: #04e0e2;
  position: absolute;
  top: 50%;
  right: 0;
  width: 45px;
  height: 45px;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

#demo div[role='group'], #form div[role='group'] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
  margin: 15px 0;
}

#demo div[role='group'] h3, #form div[role='group'] h3 {
  width: 100%
}

#demo div[role='group'] p, #demo div[role='group'] output, #form div[role='group'] p, #form div[role='group'] output {
  font-family: 'TitilliumWeb-Bold';
  font-size: 1.375rem
}

#demo div[role='group'] span, #form div[role='group'] span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'TitilliumWeb-Bold';
  font-size: 2.375rem;
  line-height: 2.1875rem;
}

#demo hr, #form hr {
  display: block;
  width: 175px;
  height: 1px;
  margin: 0 auto;
  background-color: #fff;
}

/* demo */

#demo {
	background-color: #04e0e2;
	color: #fff;
}

#demo #demo-overlay {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 50px 0 20px;
  font-family: 'TitilliumWeb-Bold';
  opacity: 0;
  pointer-events: none;
  transition: opacity 450ms cubic-bezier(.4,.25,.3,1) 3000ms;
}

#demo #demo-overlay p:nth-last-child(n+2) {
  margin-bottom: .75em
}

#demo .demo {
  z-index: 0;
}

#demo .demo::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 47, 54, 0.8);
  content: '';
  opacity: 0;
  transition: opacity 450ms cubic-bezier(.4,.25,.3,1) 2500ms;
  z-index: 1;
}

#demo .demo >* {
  z-index: 2
}

#demo .demo.underlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#app[data-view='demo'] .demo::after {opacity: 1}

#app[data-view='demo'] #demo-overlay {opacity: 1}

/* form */

#form {
	background-color: #fff;
	-webkit-perspective: 100vh;
	        perspective: 100vh;
}

#form form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 25% 50%;
          transform-origin: 25% 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: all 1100ms cubic-bezier(.4,.25,.3,1);
}

#form form .category {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 100%;
  height: 100%;
  padding-top: 95px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #04e0e2;
  color: #fff;
}

#form form .category#int {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg)
}

#form form .category#can {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg)
}

#form form[data-view='can'] {
  -webkit-transform: rotateY(180deg) translateX(-50%);
          transform: rotateY(180deg) translateX(-50%)
}

/* the spinner
---------------*/

#spinner {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top: 0;
	left: -100vw;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #04e0e2;
	opacity: 0;
	-webkit-perspective: 300px;
	        perspective: 300px;
	pointer-events: none;
	transition: opacity 450ms cubic-bezier(.4,.25,.3,1),
							left 0ms linear 450ms;
}

#spinner img {
  width: 100px;
  height: auto;
  margin: 0 -10px;
}

#spinner[data-state='loading'] {
	left: 0;
	opacity: 1;
	pointer-events: auto;
}

#spinner[data-animation='run'] img:first-child {
  -webkit-animation: flip 1500ms cubic-bezier(.4,.25,.3,1) infinite;
          animation: flip 1500ms cubic-bezier(.4,.25,.3,1) infinite
}

#spinner[data-animation='run'] img:nth-child(2) {
  -webkit-animation: flip-reverse 1500ms cubic-bezier(.4,.25,.3,1) 400ms infinite;
          animation: flip-reverse 1500ms cubic-bezier(.4,.25,.3,1) 400ms infinite
}

#spinner[data-animation='run'] img:last-child {
  -webkit-animation: flip 1500ms cubic-bezier(.4,.25,.3,1) 750ms infinite;
          animation: flip 1500ms cubic-bezier(.4,.25,.3,1) 750ms infinite
}

@-webkit-keyframes flip {
	0%		{-webkit-transform: rotateY(0deg);transform: rotateY(0deg)}
	75%	{-webkit-transform: rotateY(360deg);transform: rotateY(360deg)}
	100%	{-webkit-transform: rotateY(360deg);transform: rotateY(360deg)}
}

@keyframes flip {
	0%		{-webkit-transform: rotateY(0deg);transform: rotateY(0deg)}
	75%	{-webkit-transform: rotateY(360deg);transform: rotateY(360deg)}
	100%	{-webkit-transform: rotateY(360deg);transform: rotateY(360deg)}
}

@-webkit-keyframes flip-reverse {
	0%		{-webkit-transform: rotateY(0deg);transform: rotateY(0deg)}
	75%	{-webkit-transform: rotateY(-360deg);transform: rotateY(-360deg)}
	100%	{-webkit-transform: rotateY(-360deg);transform: rotateY(-360deg)}
}

@keyframes flip-reverse {
	0%		{-webkit-transform: rotateY(0deg);transform: rotateY(0deg)}
	75%	{-webkit-transform: rotateY(-360deg);transform: rotateY(-360deg)}
	100%	{-webkit-transform: rotateY(-360deg);transform: rotateY(-360deg)}
}

/* Helpers
-----------*/

.flex-br {
	visibilit: hidden;
	display: inline-block;
	width: 100%;
	height: 0;
}

.icon {
	display: inline-block;
}

.icon svg {
  width: 100%;
  height: 100%
}

ins.lg, ins.md, ins.sm {display: none}

ins.br::after, del.br::after {
	white-space: pre-wrap;
	content: '\A';
}

@media (max-width:1025px) {

  del.lg {
    display: none;
  }

  ins.lg {
    display: inline;
  }
}

@media (max-width:775px) {

  del.md {
    display: none;
  }

  ins.md {
    display: inline;
  }
}

@media (max-width:425px) {

  del.sm {
    display: none;
  }

  ins.sm {
    display: inline;
  }
}
